h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
}
ul { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 85%;
}